cmake_targets/log/
cmake_targets/oaisim_mme_build_oai/CMakeLists.txt
cmake_targets/oaisim_noS1_build_oai/CMakeLists.txt
cmake_targets/oaisim_noS1_build_oai/build/
openair2/RRC/LITE/param/
run_enb_ue_virt_noS1.log
targets/bin/
